<%= if @bus["EstimatedArrival"] != "" do %>
    <td class={@bus["Load"]}>
    <div class="bus-card">
        <div class="extra-icons">
            <!-- <%= if @bus["Feature"] do %>
                <%= @bus["Feature"] %>
            <% end %> -->
            <%= @bus["Type"] %>
        </div>
        <div>
            <%= seconds_till_arrival @bus["EstimatedArrival"] %>
        </div>
    </div>
    </td>
<% else %>
    <td class="no-bus"></td>
<% end %>
